.song {
	color: #262626;
	text-align: left;
	margin: 0 auto 2em;
	position: relative;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 0.75em;
	border-bottom-left-radius: 0.9em;
	border-bottom-right-radius: 0.9em;
	border: 1px solid black;

	.inside-box{
		display: flex;
		flex-direction: column;
		justify-content: left;
	}

	.inside {
		padding: 1em 1.75em 1.75em;
	}

	h2 {
		font-size: inherit;
		line-height: 1.5em;
		margin: 0;
		padding: 0 0 0.9em 0;
	}

	.player {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 1.5em;
	}

	img {
		width: 5em;
		height: 5em;
		border: 1px solid #262626;
		border-radius: 0.5em;
		margin: 0.3em 0 0 0;
	}

	audio {
		outline: none;
		width:100%;
		border-radius: 0.5em;
		border:1px solid #000;
	}

	audio::-webkit-media-controls-panel,
	audio::-webkit-media-controls {
		background: #fff;
	}

	.meta {
		font-size: 0.75em;
		font-weight: 700;
		line-height: 1.5;
		color: rgba(255, 255, 255, 0.9);
		padding: 1.5em 2.5em;
		background: rgba(0, 0, 0, 0.9);
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;

		span{
			font-weight: 400;
		}
	}
}

.song-enter-active,
.song-exit-active {
	transition: all 0.2s;
}

.song-enter {
	opacity: 0;
	transform: scale(0.85);
}

.song-enter-active {
	opacity: 1;
	transform: translateX(0);
}

.song-exit {
	opacity: 1;
}

.song-exit-active {
	opacity: 0;
	transform: scale(0.85);
}
